<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Supaa bike</name>
    <description>
        A great PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
    </author>
    <content src="index.html" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.3" />
    <plugin name="cordova-plugin-tts" spec="~0.2.3" />
    <plugin name="cordova-plugin-media" spec="https://github.com/apache/cordova-plugin-media" />
    <access origin="*" />
    
</widget>
